@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex min-h-screen flex-col bg-neutral-800;
}

[data-tauri-drag-region] {
  @apply fixed inset-x-0 top-0 h-6;
}

#root {
  @apply h-full flex-auto;
}

.countdown > *:before {
  transition: top 1s cubic-bezier(1, 0, 0, 1) !important;
}
